* {
    font-family: 'Verdana', 'Georgia';
}
a {
    color: #ffffff;
}

p {
    font-family: 'Georgia', 'Verdana';
    text-decoration: none;
    padding:0.5rem;
}
body >header {
    padding: 1em;
    font-size: 0.6em;

}
header {
    background-color: #046dd5;
    text-decoration: none;
    margin-top: 0.1em;
}

header a {
    text-decoration: none;
}

header >h1 {
    margin: 0;
    margin-top: 0.5em;
}

header> h2 {
    font-size: 0.8rem;
    margin: 0;
    margin-bottom: 0.2em;
}
div>a:nth-child(1) {
    padding-right: 1em;
    border-right-style: solid;
    border-width: 1px;
}
div>a:nth-child(2) {
    padding-left: 1em;
}

#menu ul {
    margin: 0;
    padding: 0;
}

#menu li {
    list-style: none;
    border-top-style: solid;
    text-align: center;
    border-width: 5px;
    padding: 1em;
    font-weight: bold;
}

#menu a {
    color: #2A2F33;
    text-decoration: none;
}

#menu input {
    display: none;
}
#menu label {
    display: none;
}

#menu li:nth-child(1) {
    border-color: #E1493E;
}
#menu li:nth-child(2) {
    border-color: #8ABA56;
}
#menu li:nth-child(3) {
    border-color: #5B4282;
}
#menu li:nth-child(4) {
    border-color: #FF8932;
}
#menu li:nth-child(5) {
    border-color: #19B6E9;
}
#menu li:nth-child(6) {
    border-color: #E84C8B;
}

article h1 a {
    text-decoration: none;
}

#related {
    background-color: #2A2F33;
    color: #ffffff;
    padding:0.5em;
}

#news img {
    width: 100%;
    height: auto;
}

#news article {
    position: relative;
}

#news article > header {
    background-color: transparent;
    text-shadow: 2px 2px 5px #2A2F33;
    position: absolute;
    top: 10px;
    left: 20px;
}

#news article p:first-of-type::first-letter {
    font-size: xx-large;
}

#news footer {
    background-color: #E1493E;
}

#tags a{
    text-decoration: underline;
    text-decoration-color: #ffffff;

}

footer {
    color: #ffffff;
    background-color: #2A2F33;
}