body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
      "green green green"
      "yellow red blue"
      "orange orange blue";
  }
  
  #green {
    grid-area: green;
  }
  
  #yellow {
    grid-area: yellow;
  }
  
  #orange {
    grid-area: orange;
  }
  
  #red {
    grid-area: red;
  }
  
  #blue {
    grid-area: blue;
  }
  
  #yellow ul, #red ul {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: 
      "green green green"
      "yellow red blue"
      "orange orange blue";
  }
  
  #green {
    grid-area: green;
  }
  
  #yellow {
    grid-area: yellow;
  }
  
  #orange {
    grid-area: orange;
  }
  
  #red {
    grid-area: red;
  }
  
  #blue {
    grid-area: blue;
  }
  
  #yellow ul, #red ul {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 1fr 1fr;
  }
     
/*
body {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 50% 25%;
    grid-template-areas: "green green green"
                        "yellow red blue"
                        "yellow red blue"
                        "orange orange blue";
}

#green {
    grid-area: green;
}

#orange {
    grid-area: orange;
}

#yellow {
    grid-area: yellow;
}

#red {
    grid-area: red;
}

#blue {
    grid-area: blue;
    
}

#yellow ul, #red ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

#yellow ul li, #red ul li {
    width: 15%;
}

#red ul {
    display: flex;
}
*/  